@charset "utf-8";

$base-font-family:   'Helvetica Neue', Helvetica, Arial, sans-serif;
$narrow-font-family: 'Open Sans Condensed', sans-serif;
$base-font-size:   12pt;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

/* colors */
$text-color:       #555;
$background-color: #fff;
$link-color:       #00a1ff;
$brand-color:      #9ACD32;
$secondary-color:  #f39c12;
$selection-color:  #bdc3c7;
$border-color:     #ddd;

$content-width:    40em;
$spacing-unit:     1.5em;
$border-radius:    0.5em;

@import
  "normalize",
  "base",
  "extends",
  "components",
  "patterns",
  "mediaqueries",
  "print";
